<% if @library.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@library.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @library.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@library) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name  %>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p><%= f.submit %></p>
<% end %>